<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <nav id="primaryNav">
    <h1 class="logo"><a href="/">BlogApp</a></h1>
    <div id="mobileMenuIcon">&#9776;</div>
     <ul class="hove"> 
      <li ><a href="/">Home</a></li>
      <li ><a href="/post">Create</a></li>
      <% if (user) { %>
        <li >Welcome, <%= user.name %></li>
        <li ><a href="/logout" class="btn">Logout</a></li>
      <% } else { %>
        <li ><a href="/login" class="btn">Login</a></li>
        <li ><a href="/register" class="btn">Register</a></li>
      <% } %>
    </ul>
  </nav>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const mobileMenuIcon = document.getElementById("mobileMenuIcon");
    const menuList = document.querySelector("#primaryNav ul");

    mobileMenuIcon.addEventListener("click", () => {
      menuList.classList.toggle("show");
    });
  });

</script>
</body>

